html, #trmain:hover {
	/* change that to change the background color */
	background-color: #FFFFFF;
}

tr:hover, .chbot:hover {
	/* change that if you want to change the color of when the mouse hover the text*/
	background-color: #FFFF99;
}

.menubtn {
	cursor: pointer;
}

.mouse_pointer {
	cursor: pointer;
}

table {
    width: 100%;
}

th {
    width: 50px;
}

.icon, input.icon {
	width: 20px;
}
