#filelist tbody tr:hover {
	/* change that if you want to change the color of when the mouse hover the text*/
	background-color: #FFFF99;
	cursor: pointer;
}

.icon, input.icon {
	width: 20px;
}

/* footer from OMGCSS */
footer {
	margin-top: 3em;
	font-size: 0.9em;
	padding-top: 2em;
	border-top: 1px solid #ccc;
	padding-bottom: 2em;
}
